{% render 'partials/head.liquid', title: 'Squad page' %}

<section>
  <h1>Squad 1G</h1>
  <p class="sub-title">Ontdek meer over onze squad door te <strong>categoriseren</strong> via de knoppen hieronder!</p>
  <ul class="filter-select-buttons">
    <button onclick="window.location.href='/'">Avatar</button>
    <button onclick="window.location.href='/dier/'">Dier</button>
    <button onclick="window.location.href='/emoji/'">Emoji</button>
    <button onclick="window.location.href='/eten/'">Eten</button>
    <button onclick="window.location.href='/hobby/'">Hobby</button>
    <button onclick="window.location.href='/kleur/'">Kleur</button>
    <button onclick="window.location.href='/land/'">Land</button>
    <button onclick="window.location.href='/verjaardag/'">Verjaardag</button>
  </ul>
  {% comment %} <img src="assets/stock" /> {% endcomment %}
</section>

<article class="filter-bar">
  <img src="/assets/help.png" alt="help" class="help-icon" />
  {% comment %} <p class="filter-sub-text">Specifieker willen <strong>filteren</strong>? Dat kan via de knop hiernaast.
  </p> {% endcomment %}
  <select id="filters" name="Kies je filters">
    <option>Kies je filter</option>
    <option>...</option>
    <option>...</option>
    <option>...</option>
  </select>
</article>

<div>
  <div class="grid-container">
    {% for person in persons %}
    <article class="card-layout">
      <div class="card-inner">

        <!-- Voorkant van de kaart -->
        <div id="front" class="card-side">
          {% if show == 'avatar' %} {% if person.avatar and person.avatar != '' %}
          <img src="{{ person[show] }}" alt="Avatar van {{ person.name }}" />
          {% else %}
          <img src="https://github.com/{{ person.github_handle }}.png" alt="Avatar van {{ person.name }}" />
          {% endif %} {% else %}
          <p>{{ person[show] }}</p>
          {% endif %}
        </div>

        <!-- Achterkant van de kaart -->
        <div id="back" class="card-side">
          <p class="back-text">{{ person.name }}</p>
        </div>
      </div>
    </article>
    {% endfor %}
  </div>
</div>

{% render 'partials/foot.liquid', squads: squads %}